<h1>Welcome to the Router Example</h1>

<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <p class="navbar-btn">
                    <a href="/page1/" class="btn btn-default">Page 1</a>
                    <a href="/page2/" class="btn btn-default">Page 2</a>
                    <a href="/page3/" class="btn btn-default">Page 3</a>
                    <a href="/todo/" class="btn btn-default">Todo List</a>
                </p>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>